body {
    background-color: #f9dddd;
}
table {
    background-color: pink;
    width: 1000px;
}
caption {
    padding: 20px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    background-image: url("./bilder/pattern.jfif");
}
tr {

}
th {
    padding: 20px;
    font-size: 30px;
}
td {
    background-color: #fff;
    padding: 10px;
}
img {
    width: 180px;
}